.container {
  @include contentBox(5% 10%);
}

.bgPrimary {
  background-color: $primaryColor;
}

.bgAccent {
  background-color: $accentColor;
  color: $white;
}

.bgWhite {
  background-color: $white;
}

.bgLightGray {
  background-color: $lightGray;
}

.bgGray {
  background-color: $gray;
  color: $white;
}

.shadowContainer {
  position: relative;
}

.shadow {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  background-color: $black;
  &:hover {
    opacity: .8;
    cursor: pointer;
  }
}


//nav

.mainNav {
  @extend .grid_7;
  li {
    font-size: 1rem;
    display: inline-block;
    padding: 1em;
    &:hover {
      color: $primaryColor;
      transition: .5s;
    }
  }
}
