extends layout

block content
  section.guideContent
    h1.guideHeading Base
    p Description of style Description of style Description of style Description of style Description of style Description of style Description of style Description of style Description of style Description of style Description of style Description of style Description of style Description of style
    div.codeBlock
      p .sample { code: block; }
