extends layout

block content
  section.guideContent
    h1.guideHeading Buttons
    div.example
      h2.guideHeading Large Buttons
      p For use in sections to link to another area or page.
      button.primaryLarge Primary
      button.accentLarge Accent
      h2.guideHeading Small Buttons
      p For use with form submition.
      button.primarySmall Primary
      button.accentSmall Accent
    pre.codeBlock.
      &lt;button class="primaryLarge"&gt;Primary&lt;/button&gt;
      &lt;button class="accentLarge"&gt;Accent&lt;/button&gt;
      &lt;button class="primarySmall"&gt;Primary&lt;/button&gt;
      &lt;button class="accentSmall"&gt;Accent&lt;/button&gt;




