extends layout

block content
  section.guideContent.tCentered
    h1.guideHeading Yapta Style Guide
    p Welcome to the style guide for Yapta.com. This document was created for defining the style and structure when working on, or adding to the code base. These rules were written to ensure consistency and maintainability, please follow them carefully.
    p To follow this guide, use the index on the left of the page to navigate to the desired content.
    p Written and developed by Bennett Spears.

