doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/app.css')
    link(rel='stylesheet', href='/stylesheets/guide.css')
    script(src='//code.jquery.com/jquery-1.11.2.min.js')
    link(href='http://fonts.googleapis.com/css?family=Raleway:400,700', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic', rel='stylesheet', type='text/css')

  body
    div.grid_2.logo
      img(class="grid_11" src="images/yapta_logo.png")
    header.header.grid_10
      h1.primeHeading Style Guide
      ul.nav.floatRight
        li
          a(href='/') Docs
        li
          a(href='https://github.com/bspears/StyleGuide') GitHub
    main.baseContainer
      section.index
        ul.indexNav#indexNav
          li
            a(href="/base") Base
          li
            a(href="/typography") Typography
          li
            a(href="/boxes") Boxes
          li
            a(href="/buttons") Buttons
          li
            a(href="/nav") Nav
          li
            a(href="/interactions") Interactions
          li
            a(href="/grid") Grid
          li
            a(href="/color") Color
      block content
    link(href='/javascripts/main.js')
