.grid_12, .full {
  width: 100%;
  float: left; }

.grid_11 {
  width: 91.666%;
  float: left; }

.grid_10 {
  width: 83.333%;
  float: left; }

.grid_9 {
  width: 75%;
  float: left; }

.grid_8 {
  width: 66.666%;
  float: left; }

.grid_7, .mainNav {
  width: 58.333%;
  float: left; }

.grid_6, .half {
  width: 50%;
  float: left; }

.grid_5 {
  width: 41.666%;
  float: left; }

.grid_4, .third {
  width: 33.333%;
  float: left; }

.grid_3, .quarter {
  width: 25%;
  float: left; }

.grid_2 {
  width: 16.666%;
  float: left; }

.grid_1 {
  width: 8.333%;
  float: left; }

.floatRight {
  float: right; }

.clearfx:after {
  content: ' ';
  display: block;
  clear: both; }

.clear {
  clear: both; }

h1 {
  font-size: 2.7em; }

h2 {
  font-size: 1.6em; }

p {
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 1em; }

.tCentered {
  text-align: center; }

.tLeft {
  text-align: left; }

.tRight {
  text-align: right; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, section {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Noto Sans', sans-serif;
  vertical-align: baseline;
  text-decoration: none;
  color: inherit; }

/* HTML5 display-role reset for older browsers */
article, aside, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul, li {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  display: block;
  width: 100%; }

p {
  line-height: 1.5em;
  margin-bottom: 1em;
  font-size: 3em; }

footer {
  clear: both; }

h1, h2 {
  padding: 0 .5em; }

.container {
  padding: 5% 10%; }

.bgPrimary {
  background-color: #E72; }

.bgAccent {
  background-color: #059;
  color: #FFF; }

.bgLightGray {
  background-color: #F3F3F3; }

.bgGray {
  background-color: #717174;
  color: #FFF; }

.shadowContainer {
  position: relative; }

.shadow {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  background-color: #000; }
  .shadow:hover {
    opacity: .8;
    cursor: pointer; }

.primaryLarge, .accentLarge, .primarySmall, .accentSmall {
  color: #FFF;
  border-radius: 3px;
  display: inline-block;
  margin: 0 5px 15px 0;
  text-align: center;
  font-weight: bold; }

.primaryLarge, .accentLarge {
  border: none;
  padding: 12px 20px;
  font-size: 1em; }

.primarySmall, .accentSmall {
  border: none;
  padding: .2em; }

.primaryLarge {
  background-color: #E72;
  border-bottom: 3px solid #da6511; }

.accentLarge {
  background-color: #059;
  border-bottom: 3px solid #004174; }

.primarySmall {
  background-color: #E72; }

.accentSmall {
  background-color: #059; }

.mainNav li {
  font-size: 1rem;
  display: inline-block;
  padding: 2em; }
  .mainNav li:hover {
    color: #E72;
    transition: .5s; }

.primaryLarge, .accentLarge, .primarySmall, .accentSmall {
  color: #FFF;
  border-radius: 3px;
  display: inline-block;
  margin: 0 5px 15px 0;
  text-align: center;
  font-weight: bold; }

.primaryLarge, .accentLarge {
  border: none;
  padding: 12px 20px;
  font-size: 1em; }

.primarySmall, .accentSmall {
  border: none;
  padding: .2em; }

.primaryLarge {
  background-color: #E72;
  border-bottom: 3px solid #da6511; }

.accentLarge {
  background-color: #059;
  border-bottom: 3px solid #004174; }

.primarySmall {
  background-color: #E72; }

.accentSmall {
  background-color: #059; }

.center {
  float: none;
  margin: 0 auto; }

.right {
  float: right; }

/*# sourceMappingURL=app.css.map */
