.grid_12 {
  width: 100%;
  float: left; }

.grid_11 {
  width: 91.666%;
  float: left; }

.grid_10 {
  width: 83.333%;
  float: left; }

.grid_9, .guideContent {
  width: 75%;
  float: left; }

.grid_8 {
  width: 66.666%;
  float: left; }

.grid_7 {
  width: 58.333%;
  float: left; }

.grid_6 {
  width: 50%;
  float: left; }

.grid_5 {
  width: 41.666%;
  float: left; }

.grid_4 {
  width: 33.333%;
  float: left; }

.grid_3 {
  width: 25%;
  float: left; }

.grid_2, .index {
  width: 16.666%;
  float: left; }

.grid_1 {
  width: 8.333%;
  float: left; }

.floatRight {
  float: right; }

.clearfx:after {
  content: ' ';
  display: block;
  clear: both; }

.clear {
  clear: both; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, section {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Raleway;
  vertical-align: baseline;
  text-decoration: none;
  color: inherit; }

/* HTML5 display-role reset for older browsers */
article, aside, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul, li {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  display: block;
  width: 100%; }

footer {
  clear: both; }

h1 {
  font-size: 2.7em; }

h2 {
  font-size: 1.6em; }

p {
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 1em; }

pre {
  line-height: 1.5em; }

.guideHeading {
  margin-bottom: 1em; }

.code {
  line-height: 1.2em;
  margin: 0; }

.header {
  padding: 1em;
  background-color: #E72;
  color: #FFF;
  text-align: left; }

.baseContainer {
  padding: 1em;
  color: #454545;
  text-align: left; }

.primeHeading {
  text-align: left;
  color: #FFF;
  display: inline-block;
  font-size: 3.8em;
  display: inline-block; }

.guideContent {
  padding: 3em; }

.example {
  padding: 1em;
  background-color: #FFF;
  color: #454545;
  text-align: left;
  border: 1px solid #F3F3F3;
  font-family: 'Noto Sans', sans-serif; }

.codeBlock {
  padding: 1em;
  background-color: #717174;
  color: #FFF;
  text-align: left;
  margin-bottom: 1.5em;
  overflow: scroll; }

.index {
  padding-top: 3em;
  background-color: #717174; }

.colorBlock {
  width: 100%;
  background-color: #E72; }

.colorBlock2 {
  @extends .colorBlock;
  background-color: #717174;
  color: #FFF; }

.indexNav li {
  color: #FFF;
  padding: .5em; }
  .indexNav li:hover {
    color: #000; }

.nav li {
  display: inline-block;
  padding: 0.5em 2em; }

.swatchList li {
  display: inline-block;
  padding: 1em; }

.primarySwatch, .primaryDarkSwatch, .accentSwatch, .accentDarkSwatch, .graySwatch, .lightGraySwatch, .darkGraySwatch, .blackSwatch, .whiteSwatch {
  color: #FFF;
  display: inline-block;
  width: 10em;
  height: 10em;
  margin: 0; }

.primarySwatch {
  background-color: #E72; }

.primaryDarkSwatch {
  background-color: #da6511; }

.accentSwatch {
  background-color: #059; }

.accentDarkSwatch {
  background-color: #004174; }

.graySwatch {
  background-color: #717174; }

.lightGraySwatch {
  background-color: #F3F3F3; }

.darkGraySwatch {
  background-color: #58585a; }

.blackSwatch {
  background-color: #000; }

.whiteSwatch {
  background-color: #FFF;
  border: 1px solid #454545; }

.index {
  position: absolute;
  top: 5.8em;
  left: 0;
  bottom: 0;
  overflow: scroll; }

.guideContent {
  position: absolute;
  top: 5.8em;
  left: 16.666%;
  bottom: 0;
  overflow: scroll; }

.logo {
  height: 5.8em;
  padding: 1.5em 1em;
  background-color: #FFF; }

/*# sourceMappingURL=guide.css.map */
