
//container boxes
.header {
  @include contentBox(1em, left, $guidePrimaryColor, $white);
}

.baseContainer{
  @include contentBox(1em, left, null, $gray);
}

.primeHeading {
  @include headingStyle(null, left, null, $white, 3.8em);
  display: inline-block;
}

.guideContent {
  @extend .grid_9;
  padding: 3em;
}

.example {
  @include contentBox(1em, left, $lightGray, $gray);
  border: 1px solid $lightGray;
  font-family: 'Noto Sans', sans-serif;
}

.codeBlock {
  @include contentBox(1em, left, $guideGray, $white);
  margin-bottom: 1.5em;
  overflow: scroll;
}

.index {
  padding-top: 3em;
  background-color: $guideGray;
}

.colorBlock {
  color: $white;
  padding: 5em 0;
  width: 100%;
  background-color: $guidePrimaryColor;
}

.colorBlock2 {
  @extends .colorBlock;
  background-color: $guideGray;
  color: $white;
}

